body {
    background-color: #2E2749;
    font-family: 'Helvetica Neue', sans-serif;
    color: rgb(211, 212, 202);
    text-align: center;
    line-height: 1.5;
    width: 100vw;
}

main {
    margin-top: 2rem;
    display: grid;
    place-items: center;
}

/* .title {
    margin-bottom: 5rem;
} */

.text-box-container {
    width: min(70%, 80rem);
    margin-inline: 1rem;
    border: 3px solid rgb(211, 212, 202);
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
}
@media screen and (max-width: 786px) {
    .text-box-container {
        gap: 5rem;
        padding: 2rem;
        margin-inline: 0;
    }
}

.text-box {
    background-color: #524a76;
    width: min(40rem, 15rem);
    padding: 2rem;
}